#entryMessage {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  color: white;
  top: 0px;
  left: 0px;
  z-index: 99999999999999999999999;
}

#entryMessage.hidden {
  display: none;
  z-index: -1;
}

#ifHorriblyWrong {
  display: none;
}

body {
  background-color: black;
}

#horriblyWrongIndicator {
  color: white;
}
